//- appsimulation structure
#appsimulation
    #app-unmodifier
    #app-button-grid
        button#root-state-button() Root State
        button#next-state-button() Next State 
        button#menu-button() Menu on!
        button#popup-button() Pop up!
    #app-content Initial Root State
